.content3{
	display: flex;
}

.g, .g1, .g2{
	flex-grow: 1;
}

.g{
	height:223px;
	background: #2e8185; 
}

.g1{
	height:223px;
	background: #424252;
}

.g2{
	height:223px;
	background: #b54321;
}

.m h3{
	font-size: 20px;
	font-family: montserrat,sans-serif;
	justify-content: center;
}

.m1 h3{
	font-size: 20px;
	font-family: montserrat,sans-serif;
}

.m2 h3{
	font-size: 20px;
	font-family: montserrat,sans-serif;
}

.g, .g1, .g2 p{
	font-family: source sans pro,helvetica neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.m{
	display: flex;
	color: #deded3;
	padding-left: 50px;
	padding-top: 50px;	
}

.m p{
	padding-left: 80px;
	padding-top: 3px;
	font-size: 11px;
	opacity: 0;
}

.m:hover p{
	transform: translateX(-40px);
	transition: all 0.5s;
	opacity: 1;
}

.m1{
	display: flex;
	padding-left: 50px;
	padding-top: 50px;
	color: #deded3;
}

.m1 p{
	padding-left: 80px;
	padding-top: 3px;
	font-size: 11px;
	opacity: 0;
}

.m1:hover p{
	transform: translateX(-40px);
	transition: all 0.5s;
	opacity: 1;
}

.m2{
	display: flex;
	color: #deded3;
	padding-left: 50px;
	padding-top: 50px;	
}

.m2 p{
	padding-left: 80px;
	padding-top: 3px;
	font-size: 11px;
	opacity: 0;
}

.m2:hover p{
	transform: translateX(-40px);
	transition: all 0.5s;
	opacity: 1;
}

.g p{
	padding-left: 50px;
	color: #d2d2d9;
}

.g1 p{
	padding-left: 50px;
	color: #d2d2d9;
}


.g2 p{
	padding-left: 50px;
	color: #d2d2d9;
}

