.carousel-item img{
	height: 550px;
}

.slide{
	padding-top: 1.5px;
}

.carousel-control-prev{
	height: 100px;
	width: 50px;
	margin-bottom: auto;
	margin-top: auto;
}

.carousel-control-next{
	height: 100px;
	width: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.carousel-control-prev:hover{
	background: rgba(0 ,0 ,0 ,0.25);
}

.carousel-control-next:hover{
	background: rgba(0 ,0 ,0 ,0.25);
}

